.bef-links-use-ajax{
    border: none;
}

.bef-links-use-ajax ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.bef-links-use-ajax>ul>li{
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.bef-links-use-ajax>ul>li:hover{
    color: #106eea;}



    #edit-tid{
        border: none;
        margin: 30px 0;
    }
    
    .form-item-tid label{
        display: none;
        
    }

    #edit-tid ul{
        list-style: none;
        display: flex;
        align-items: center;
    }
    
    #edit-tid>ul>li>a{
        text-decoration: none;
    }
    #edit-tid>ul>li>a{
        cursor: pointer;
        display: inline-block;
        padding: 10px 15px 8px 15px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        color: #444444;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
    }
    
    #edit-tid>ul>li>a:hover{
        color: #106eea;}

/* #team .container .portfolio-view-unformatted .view-content{
    display: grid;
grid-template-columns: 33% 33% 33%;
margin: auto;
overflow: hidden;
} */

#team .container .portfolio-view-unformatted .view-content .portfolio-element img{
    width:100%;
    padding: 1%;
    
}

#blazy-views-portfolio-block-block-1-7{
    height: auto !important;
}

#views-exposed-form-portfolio-block-1 .form--inline {
    display:flex;
    justify-content: center;
}


.region-portfolio>.section{
    background-color: #fff;
}