@mixin make-container {
  max-width: 1320px;
  margin-right: 20%;
  margin-left: 20%;
  padding: 16px;
}

.card_listing{
  padding-bottom: 3rem;
  &--overlay{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
    opacity: 0.8;
    background-color: rgb(255, 255, 255);
  }

}

.card_container{
  @include make-container();
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;

  &--head{
    margin: 0%;
    text-align: center;

    h4{
      font-size: 2.5rem;
      line-height: 1.5;
    }
  }
  &--body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;

    .card{
      .card--wrapper{
        padding-bottom: 20px;
      }
      .card--button{
        margin-left: 10px;
      }
    }

    .card:nth-child(n+2) .card--wrapper{
      background-color: #FFE885;
    }

    .card:nth-child(n+3) .card--wrapper{
      background-color: #98DEE8;
    }

  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  
  .card_container{
    margin-left: 0;
    margin-right: 0;
    width: fit-content;
  
    &--body{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 50px;
      padding: 50px;
      
    }
  }
}


@media (max-width: 767px) {
  .card_container{
    margin-left: 10%;
    margin-right: 10%;
  
    &--body{
      display: grid;
      grid-template-columns: 1fr;

    }
  }
}

@media (max-width: 576px) {
  .card_container{
    margin-left: 0%;
    margin-right: 0%;
  
    &--body{
      display: grid;
      grid-template-columns: 1fr;

    }
  }
}
